
*{
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
    font-family: 'Wix Madefor Display', sans-serif; 
    /*color: white;*/
    line-height: 1.5;
    
}



ol{
    list-style: none;
}

#hero-banner{

}

div.team-grid{

}