
*{
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
    font-family: 'Wix Madefor Display', sans-serif; 
    /*color: white;*/
    line-height: 1.5;
    }

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2em;
}

/*headings*/

#company{
    color: #dec9e9;
    font-size: 1.5rem;
    justify-content: left;
}

#hero-banner{}

#welcome{
    background-color: blueviolet;
    color: #fff;
    padding: 5%;
    margin-bottom: 0%;
    }

    #welcome>p{
        margin-right: 50%;
    }

#fan-favs{
    color: #dec9e9;
    background-color: black;
    display: flex;
    flex-direction: column;
  
    
}
#our-team{
    background-color: purple;
    text-align: center;
    color: white;
}

#header{
    background-color: black;

}

#footer{
    background-color: black;
    color: #fff;
    padding: 2%;
}

nav ul{
    list-style: none;
    padding-left: 0;
}

nav ul li a:link
nav ul li a:visited{
    text-decoration: none;
    color: #dec9e9;
}
nav ul li a:hover
nav ul li a:focus{
    color: #fff;
}



#hero-banner{
    height: 60vh;
    background-color: #dec9e9;
    background-image: url(/images/ice-cream-cones.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

div.team-grid{
text-align: center;
display: grid;
grid-template-columns: auto auto;
}



div.team-grid>img{
    filter: grayscale(100%);
    border-radius: 5%;
}


#navigation-bar{
    text-decoration: none;
    display: flex;
    justify-content: flex-end; 
    padding: 1%;
    margin-bottom: 0%;

}

a{
    text-decoration: none;
}

